body {
    background-color: bisque;
    font-family: 'Courier New', serif;
    box-sizing: border-box;
}

img {
    display: block;
    margin: auto;
}

h1{
    font-size: 34px;
}

h1, h2, h3, p {
    color: hsl(0, 34%, 52%);
    text-align: center;
}

p {
    font-size: 24px;
}

ul, ol{
    text-align: center;
}

li {
    list-style: none;
}